.icon {
  display: inline-block;
  background-color: $color-dark;
  opacity: 0.5;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
}

.icon:hover {
  opacity: initial;
  background-color: $color-highlight;
}

.icon > img {
  transform: translateY(50%);
}

.icon > #android-img {
  height: 25px;
  width: 22px;
}

.icon > #iphone-img {
  height: 26px;
  width: 21px;
}

.icon > #windows-img {
  height: 25px;
  width: 25px;
}
