//// ICONS ////
.icon {
  background-color: $color-dark;
  opacity: 0.5;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;

  & > img {
    transform: translateY(50%);
    width: 50%;
    height: 50%;
  }

  &:hover,
  &--highlighted {
    opacity: initial;
    background-color: $color-highlight;
  }
}

//// FEATURES /////
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-dark;
  text-align: center;

  & > * {
    margin-top: 1rem;
  }
}
