//// ICONS ////
.icon {
  background-color: $color-dark;
  opacity: 0.5;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  transition: all 0.2s;

  & > img {
    transform: translateY(50%);
    width: 50%;
    height: 50%;
  }

  &:hover,
  &--highlighted {
    opacity: initial;
    background-color: $color-highlight;
  }
}

//// FEATURES /////
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-dark;
  text-align: center;
}

//// INPUT-BTN ////

.input-btn {
  display: flex;

  & > input {
    padding: 1rem 2rem;
    border: none;
    display: block;
    outline: none;
  }

  &__input {
    color: $color-grey;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 25rem;

    @include respond(break-one) {
      width: 20rem;
    }

    @include respond(break-one) {
      width: 66%;
    }
  }

  &__btn {
    color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $color-highlight;
    width: 10rem;
    transition: all 0.2s;

    @include respond(break-one) {
      width: 34%;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1px 5px $color-dark;
    }
  }
}

//// TESTIMONY ////

.testimony {
  max-width: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//// LINKS ////
.link {
  &,
  &:visited,
  &:active {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    transition: color 0.2s;
  }

  &:hover {
    color: $color-highlight;
  }
}

//// SLIDER ////
.slider {
  position: relative;
  margin: 1rem 50px 0;
  max-width: 120rem;
  width: calc(100% - 100px);
  height: 50px;
  padding: 0;

  .slider__handler {
    //Display is handled by JS, it could be flex or none
    width: 50px;
    height: 50px;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 0;
    color: rgba(0, 0, 0, 0);

    &:hover {
      color: $color-highlight;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    }
  }

  #slider__handler--right {
    justify-content: center;
    right: -50px;
    background-image: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, 0.35) 25%, #fff);
  }

  #slider__handler--left {
    justify-content: center;
    left: -50px;
    background-image: linear-gradient(to left, rgba(#fff, 0), rgba(#fff, 0.35) 25%, #fff);
  }

  #slider__wrapper {
    overflow: hidden;
    height: 50px;
    width: calc(100% + 100px);
    margin: 0 -50px;
    display: block;
    position: relative;
  }

  #slider__loose-row {
    position: absolute;
    left: 0;
    display: flex;
    height: 50px;
    padding: 0;
    top: 0;
    transition: left 1s;

    & li {
      position: relative;
      max-width: 100%;
      list-style: none;

      &:not(.selected) {
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0%);
        }
      }

      &:hover::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 54px;
        height: 50px;
        background-color: rgba($color-highlight, 0.5);
      }

      & img {
        position: relative;
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        margin: 0 2px;
      }
    }
  }
}
