//// HEADER ////

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vw * 0.375);
  background-image: url(../assets/hero_2x_1600x600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top: 10px solid $color-highlight;

  &__text-box {
    width: 50%;
    margin: auto 50px;
    max-width: 450px;
    color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      margin: 1rem 0;
    }

    & .icon {
      display: inline-block;
      margin-right: 1.5rem;
      width: 5rem;
      height: 5rem;
    }
  }

  &__img-box {
    width: 50%;
    margin: 20px 50px 0;
    max-width: 450px;
    align-self: flex-end;

    & > img {
      display: block;
      max-height: 500px;
    }
  }
}

//// FEATURES ////
.features {
  display: flex;
  justify-content: center;

  & > .feature {
    margin: 6rem;
    width: 33rem;

    & > .icon {
      width: 10rem;
      height: 10rem;
    }
  }
}
