//// HEADER ////

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vw * 0.375);
  background-image: url(../assets/hero_1x_1800x675.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top: 10px solid $color-highlight;

  @include respond(break-three) {
    position: relative;
    flex-direction: column;
  }

  &__text-box {
    width: 50%;
    margin: auto 5rem;
    max-width: 450px;
    color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(break-one) {
      margin: auto 4rem;
    }

    @include respond(break-three) {
      width: 75%;
      margin: 4rem auto 2rem;
      text-align: center;
      z-index: 1;
      text-shadow: 3px 3px 5px $color-dark;
    }

    & > * {
      margin: 1rem 0;
    }

    & .icon {
      display: inline-block;
      margin-right: 1.5rem;
      width: 5rem;
      height: 5rem;

      @include respond(break-one) {
        width: 4rem;
        height: 4rem;
      }

      @include respond(break-three) {
        opacity: 0.75;
      }
    }
  }

  &__img-box {
    width: 50%;
    margin: 20px 5rem 0;
    max-width: 450px;
    align-self: flex-end;

    @include respond(break-one) {
      margin: 20px 4rem 0;
    }

    @include respond(break-three) {
      width: initial;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
    }

    & > img {
      display: block;
      max-height: 500px;

      @include respond(break-three) {
        height: 40vw;
        z-index: -1;
      }
    }
  }
}

//// FEATURES ////
.features {
  display: flex;
  justify-content: center;

  @include respond(break-three) {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }

  & > .feature {
    margin: 6rem;
    width: 33rem;

    @include respond(break-one) {
      margin: 4rem;
    }

    @include respond(break-three) {
      width: 80%;
      margin: 2rem;
    }

    & > .icon {
      width: 10rem;
      height: 10rem;

      @include respond(break-one) {
        width: 8rem;
        height: 8rem;
      }

      @include respond(break-three) {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

//// GET-NOTIFIED ////
.get-notified {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-light;

  @include respond(break-three) {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }


  &__text-box {
    width: 50%;
    margin: 5rem;
    max-width: 450px;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(break-one) {
      margin: 4rem;
    }

    @include respond(break-three) {
      margin: 1rem;
      align-items: center;
      width: 90%;
    }
  }

  &__img-box {
    width: 50%;
    margin: 5rem;
    max-width: 450px;
    align-self: center;

    @include respond(break-one) {
      margin: 4rem;
    }

    @include respond(break-three) {
      margin: 1rem;
      width: 90%;
    }

    & > img {
      display: block;
      max-height: 500px;
      border-radius: 1rem;
    }
  }
}

//// TESTIMONIALS ////
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 4.8rem 2rem 2.4rem;

  & > .authors {
    margin: 2.5rem 50px 0;
    max-width: 120rem;
    width: 90%;
  }
}

//// GET-IN-TOUCH ////
.get-in-touch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2.4rem 3rem 4.8rem;

  & .social-icons {
    margin: initial 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & .icon {
    display: block;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
  }
}

//// FOOTER ////
.footer {
  display: flex;
  flex-wrap: wrap;
  height: 13rem;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
}
