.main-title {
  font-family: $font-title;
  font-size: 6rem;
  font-weight: 400;
}

.secondary-title {
  font-family: $font-main;
  font-size: 2.2rem;
  font-weight: 600;
}

.main-text {
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 400;
  color: $color-grey;
}
