.main-title {
  font-family: $font-title;
  font-size: 6rem;
  font-weight: 400;
}

.secondary-title {
  margin-top: 1.2rem;
  font-family: $font-main;
  font-size: 2.2rem;
  font-weight: 600;
}

.main-text {
  margin-top: 1.2rem;
  font-family: $font-main;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-grey;

  &--bold {
    color: $color-dark;
    font-weight: 700;
  }
}
