/* Colors: */
$color-dark: #282828;
$color-grey: #848484;
$color-light: #f4f4f4;
$color-highlight: #2ecc71;

/* Typography */
$font-title: 'Pacifico', cursive;
$font-main: 'Montserrat', sans-serif; /* Design has Helvetica Neue which is not free */
